<div class="container">
    <div class="row">
        <div class="col">
          <img src="assets/pasta.jpg" alt="Image of Pasta" class="float-left-lg" style="max-height: 624px; max-width: 1000px;">
        </div>
        <div class="col">
            <div class="container-sm" style="margin-top: 100px;">
                <div class="col-md-9">
                    <div *ngIf="isLoading" class="d-flex justify-content-center">
                        <img src="./assets/spinner.gif"/>
                    </div>
                    <form *ngIf="!isLoading" class="needs-validation" [formGroup]="signupForm">
                        <div class="alert alert-danger" *ngIf="errorMsg">
                            {{ errorMsg }}
                        </div>
                        <div class="row" class="form-group">
                            <input 
                                id="email"
                                type="text" 
                                class="form-control" 
                                placeholder="email@example.com"
                                formControlName="email"
                                style="margin-top: 50px;"/>
                            <span 
                                *ngIf="!signupForm?.get('email')?.valid && signupForm?.get('email')?.touched"
                                class="help-block">
                                    Please enter a valid e-mail id!
                            </span>
                        </div>
                        <div class="row" class="form-group">
                            <input 
                                id="password"
                                type="password" 
                                class="form-control" 
                                placeholder="Password"
                                formControlName="password"
                                style="margin-top: 20px;"/>
                            <span 
                                *ngIf="!signupForm?.get('password')?.valid && signupForm?.get('password')?.touched"
                                class="help-block">
                                    Password must contain minimum of 8 characters!
                            </span>
                        </div>
                        <div class="row">
                            <button 
                                class="btn btn-danger"
                                type="button" 
                                style="margin-top: 20px;"
                                (click)="onSubmit()"
                                [disabled]="!signupForm.valid">
                                Sign {{ loginMode ? 'in' : 'up' }}
                            </button>
                        </div>
                        <div class="row">
                            <button 
                                class="btn btn-light"
                                type="button" 
                                style="margin-top: 20px;"
                                (click)="switchMode()">
                                Switch to {{ loginMode ? 'Sign up' : 'Sign in' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

